# Database connection string used by `src/api/impl/default_api_impl.py` when running locally
DATABASE_URL=postgresql+psycopg://apluser:password@localhost:5432/summer

# Database connection string used by docker compose
DATABASE_URL_DOCKER=postgresql+psycopg://apluser:password@db:5432/summer
