__pycache__/
*.pyc
.pytest_cache/
.venv/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.openapi-generator/
.openapi-generator-ignore
.flake8
Dockerfile
docker-compose.yaml
openapi.yaml
requirements.txt
setup.cfg
tests/conftest.py
tests/test_default_api.py
